{% extends "base.html" %}
{% block content %}
    <div class="container">
        <br/>

        {{ wtf.quick_form(form, form_type='inline', button_map={'submit_button': 'primary'}) }}
        <hr/>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th class="mid-td" style="width: 5%">ID</th>
                <th class="mid-td" style="width: 15%">IP</th>
                <th class="mid-td" style="width: 10%">Cpu</th>
                <th class="mid-td" style="width: 10%">Cpu Free</th>
                <th class="mid-td" style="width: 10%">Memory</th>
                <th class="mid-td" style="width: 10%">Memory Free</th>
                <th class="mid-td" style="width: 10%">Instance</th>
                <th class="mid-td" style="width: 15%">Zone</th>
                <th class="mid-td" style="width: 5%">Network</th>
                <th class="mid-td" style="width: 12%"></th>
            </tr>
            </thead>
            <tbody>
            {% for machine in machines %}
                <tr>
                    <td class="mid-td">
                        {{ machine.id }}
                    </td>

                    <td class="mid-td">
                        {{ machine.ip }}
                    </td>

                    <td class="mid-td">
                        {{ machine.cpu }}
                    </td>

                    <td class="mid-td">
                        {{ machine.basic.cpu_free_num or machine.cpu }}
                    </td>

                    <td class="mid-td">
                        {{ machine.format_memory }}
                    </td>

                    <td class="mid-td">
                        {{ machine.basic.memory_free or machine.format_memory }}
                    </td>

                    <td class="mid-td">
                        {% if machine.basic.instance_num %}
                            <a href="{{ url_for('admin.instances', type='0', value=machine.ip) }}">{{ machine.basic.instance_num }}</a>
                        {% else %}
                            0
                        {% endif %}
                    </td>

                    <td class="mid-td">
                        {{ machine.idc or 'None' }}-{{ machine.switcher or 'None' }}-{{ machine.frame or 'None' }}
                    </td>

                    <td class="mid-td">
                        {{ machine.network_id }}
                    </td>

                    <td class="mid-td">
                        <a class="btn btn-primary btn-custom" type="button"
                           href='{{ url_for('admin.show_agent', machine_id=machine.id) }}'>Agent</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ip").attr("autocomplete", "off");
            $("#ip").attr("data-provide", "typeahead");
            $("#ip").attr("data-source", '{{ ips|safe}}');
            $("#ip").attr("data-items", "5");
        });
    </script>
{% endblock %}
