{% extends "base.html" %}
{% block content %}
    <div class="container">
        <br/>

        <div class="row">
            <div class="col-md-9">
                {{ wtf.quick_form(form, form_type='inline', button_map={'submit_button': 'primary'}) }}
            </div>
            <div class="col-md-1">
                <a class="btn btn-success" type="button" href='{{ url_for("monitor.cat_name", all="true") }}'>Edit Server Name</a>
            </div>
        </div>
        {% if servers %}
            {% for server in servers %}
                <hr/>
                <h2>{{ server.name }}</h2>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="mid-td" style="width: 20%">IP</th>
                        <th class="mid-td" style="width: 70%">Detail</th>
                        <th class="mid-td" style="width: 10%">Total</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for report in server.report %}
                        <tr>
                            <td class="mid-td">
                                <font color="{{ 'red' if report.total_error_overload else '' }}">{{ report.ip }}</font>
                            </td>
                            <td class="mid-td">
                                <table class="table table-bordered table-condense">
                                    <tbody>

                                    {% for error in report.detail %}
                                        <tr>
                                            <td style="width: 70%">
                                                <font color="{{ 'red' if error.error_overload else '' }}">{{ error.status }}</font>
                                            </td>

                                            <td class="mid-left" style="width: 30%">
                                                {{ error.num }}
                                            </td>
                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>
                            </td>
                            <td class="mid-td">
                                {{ report.total }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#date").attr("data-date-format", "dd-mm-yyyy");
            $("#date").attr("autocomplete", "off");
        });
        $('#date').datepicker();
    </script>
{% endblock %}
