<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="hero-unit">

            <form class="form-horizontal offset1" method="post" name="login">
                {{ form.hidden_tag() }}

                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            {{ form.oldPassword(placeholder="请输入旧密码") }}
                        </div>
                        {% if form.oldPassword.errors %}
                            <span class="help-inline">
                            <p class="text-error">
                                {% for error in form.oldPassword.errors %}
                                    {{ error }}
                                {% endfor %}
                            </p>
                             </span>
                        {% endif %}
                    </div>
                </div>

             <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            {{ form.newPassword(placeholder="请输入新密码") }}
                        </div>
                        {% if form.newPassword.errors %}
                            <span class="help-inline">
                            <p class="text-error">
                                {% for error in form.newPassword.errors %}
                                    {{ error }}
                                {% endfor %}
                            </p>
                             </span>
                        {% endif %}
                    </div>
                </div>

            <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            {{ form.repeatNewPassword(placeholder="请再次输入新密码") }}
                        </div>
                        {% if form.repeatNewPassword.errors %}
                            <span class="help-inline">
                            <p class="text-error">
                                {% for error in form.repeatNewPassword.errors %}
                                    {{ error }}
                                {% endfor %}
                            </p>
                             </span>
                        {% endif %}
                    </div>
                </div>


                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
