body {
    padding-top: 66px;
}

.nav-btn {
    padding-top: 8px
}

.mid-td {
    text-align: center;
    vertical-align: middle
}

.btn-custom {
    width: 90px !important;
}

.table-inside {
    margin: 0px;
}