{% extends "base.html" %}
{% block content %}
    <div class="container">
        <br/>
        {{ wtf.quick_form(form, form_type='inline', button_map={'submit_button': 'primary'}) }}
        {% if servers %}
            <hr/>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="mid-td" style="width: 40%">Cat Name</th>
                    <th class="mid-td" style="width: 40%">Real Name</th>
                    <th class="mid-td" style="width: 20%">Ops</th>
                </tr>
                </thead>

                <tbody>
                {% for server in servers %}
                    <tr>
                        <td class="mid-td">
                            {{ server.cat_name }}
                        </td>
                        <td class="mid-td">
                            {{ server.real_name }}
                        </td>

                        <td class="mid-td">
                            <a class="btn btn-success" type="button"
                               href="{{ url_for('monitor.del_cat', id=server.id) }}"
                               onclick='{if(confirm("Are you sure to remove this item!")){return true;}return false;}'>Remove
                            </a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}