{% extends "base.html" %}
{% block content %}
    <div class="container">
        <br/>

        <div class="row">
            <div class="col-md-10">
                {{ wtf.quick_form(form, form_type='inline', button_map={'submit_button': 'primary'}) }}
            </div>
            {% if g.user.is_authenticated() %}
                <div class="col-md-1">
                    <a class="btn btn-success" type="button" href='{{ url_for("monitor.cat_name", all="true") }}'>Edit
                        Server Name</a>
                </div>
            {% endif %}
        </div>
        {% if servers %}
            {% for server in servers %}
                <div name="{{ server.overload }}">
                    <hr/>
                    <h2><a href="{{ server.cat_link }}" target="_blank">{{ server.name }}</a>
                        {% if not server.report %}
                            <font color="red">-(Not Found in CAT)</font>
                        {% endif %}
                    </h2>
                    {% if server.report %}


                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="mid-td" style="width: 20%">IP</th>
                                <th class="mid-td" style="width: 70%">Detail</th>
                                <th class="mid-td" style="width: 10%">Total</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for report in server.report %}
                                <tr>
                                    <td class="mid-td">
                                        <font color="{{ 'red' if report.total_error_overload else '' }}">{{ report.ip }}</font>
                                    </td>
                                    <td class="mid-td">
                                        <table class="table table-bordered table-condense table-inside ">
                                            <tbody>

                                            {% for error in report.detail %}
                                                <tr>
                                                    <td style="width: 70%">
                                                        <font color="{{ 'red' if error.error_overload else '' }}">{{ error.status }}</font>
                                                    </td>

                                                    <td class="mid-left" style="width: 30%">
                                                        {{ error.num }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>
                                    <td class="mid-td">
                                        {{ report.total }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#date").attr("data-date-format", "YYYY-MM-DD");
            $("#date").attr("autocomplete", "off");
            
            if ($("#only_overload").is(":checked")) {
                $("div[name=normal]").hide();
            }
        });

        $(function () {
            $('#date').datetimepicker({
                pickTime: true
            });
        });


        $("#only_overload").click(function () {
            var isChecked = $(this).is(":checked");

            if (isChecked) {
                $("div[name=normal]").hide();
            } else {
                $("div[name=normal]").show();
            }
        });

        $("#submit_button").click(function () {
            $.blockUI({ css: {
                border: 'none',
                padding: '15px',
                backgroundColor: '#000',
                '-webkit-border-radius': '10px',
                '-moz-border-radius': '10px',
                opacity: .5,
                color: '#fff'
            },
                message: "<h1> Processing ......</h1>"
            });
        })

    </script>
{% endblock %}
