{% extends "base.html" %}
{% block content %}
    <div class="container">

        <br/>

        <div class="row">
            <div class="col-md-8">
                {{ wtf.quick_form(form, form_type='inline', button_map={'submit_button': 'primary'}) }}
            </div>
            <div class="col-md-1">
                <a class="btn btn-success" type="button" href='{{ url_for("admin.instances", all="true") }}'>All
                    Instances</a>
            </div>
        </div>

        {% if instances %}
            <br/>
            <div class="row">
                <div class="col-md-2">
                    <a id="status-link" status="-1"><font color="red">TOTAL: {{ total }}</font></a>
                </div>

                {% for status in statuses %}
                    <div class="col-md-2">
                        <a id="status-link" status="{{ status[0][0] }}"><font
                                color="{{ 'green' if status[0][1] == 'RUNNING' else 'red' }}">{{ status[0][1] }}: {{ status[1] }}</font></a>
                    </div>
                {% endfor %}
            </div>
            <table class="table table-striped table-bordered" style="TABLE-LAYOUT: fixed">
                <thead>
                <tr>
                    <th class="mid-td" style="vertical-align:middle;width: 25%">Instance ID</th>
                    <th class="mid-td" style="vertical-align:middle;width: 5%">Group ID</th>
                    <th class="mid-td" style="vertical-align:middle;width: 10%">App ID</th>
                    <th class="mid-td" style="vertical-align:middle;width: 10%">App Version</th>
                    <th class="mid-td" style="vertical-align:middle;width: 10%">Instance IP</th>
                    <th class="mid-td" style="vertical-align:middle;width: 7%">Instance Port</th>
                    <th class="mid-td" style="vertical-align:middle;width: 10%">Agent IP</th>
                    <th class="mid-td" style="vertical-align:middle;width: 12%">Status</th>
                    {% if g.user.is_authenticated() %}
                        <th class="mid-td" style="vertical-align:middle;width: 11%">
                            Start:&nbsp;<span class="glyphicon glyphicon-play-circle"></span><br/>
                            Stop:&nbsp;<span class="glyphicon glyphicon glyphicon-ban-circle"></span><br/>
                            Restart:&nbsp;<span class="glyphicon glyphicon-refresh"></span>
                            {% if current_user.role == 1 %}
                                <br/>
                                Remove:&nbsp;<span class="glyphicon glyphicon-remove"></span>
                            {% endif %}
                        </th>
                    {% endif %}
                </tr>
                </thead>

                <tbody>
                {% for instance in instances %}
                    <tr status="{{ instance.status }}" name="instance-entity" app_id="{{ instance.app_id }}">
                        <td class="mid-td word-wrap" style="vertical-align:middle;">
                            {{ instance.instance_id }}
                        </td>

                        <td class="mid-td word-wrap" style="vertical-align:middle;">
                            {{ instance.instance_group_id }}
                        </td>

                        <td class="mid-td word-wrap" style="vertical-align:middle;">
                            {{ instance.app_id }}
                        </td>

                        <td class="mid-td word-wrap" style="vertical-align:middle;">
                            {{ instance.app_version }}
                        </td>

                        <td class="mid-td word-wrap" style="vertical-align:middle;">
                            {{ instance.instance_ip }}
                        </td>

                        <td class="mid-td word-wrap" style="vertical-align:middle;">
                            {{ instance.instance_port }}
                        </td>

                        <td class="mid-td word-wrap" style="vertical-align:middle;">
                            {% if instance.agent_ip %}
                                <a href="{{ url_for('admin.show_agent', machine_id = instance.machine_id) }}">{{ instance.agent_ip }}</a>
                            {% else %}
                                {{ instance.agent_ip }}
                            {% endif %}
                        </td>

                        <td class="mid-td word-wrap" style="vertical-align:middle;">
                            <font color="{{ '' if instance.status == 200 else 'red' }}">{{ instance.status_desc }}</font>
                        </td>
                        {% if g.user.is_authenticated() %}

                            <td class="mid-td" style="vertical-align:middle;">

                                {% if instance.status in [200,501,502,503,504] %}
                                    <a id="instance-op"
                                       href='{{ url_for('api.shutdown_instance', app_id=instance.app_id,instance_id= instance.instance_id) }}'
                                       onclick='{if(confirm("Are you sure to shutdown this instance?")){return true;}return false;}'>
                                        <span class="glyphicon glyphicon glyphicon-ban-circle"></span>
                                    </a>

                                    &nbsp;&nbsp;
                                {% endif %}

                                {% if instance.status in [500,505] %}
                                    <a id="instance-op"
                                       href='{{ url_for('api.start_instance', app_id=instance.app_id, instance_id=instance.instance_id) }}'
                                       onclick='{if(confirm("Are you sure to start this instance?")){return true;}return false;}'>
                                        <span class="glyphicon glyphicon-play-circle"></span>
                                    </a>

                                    &nbsp;&nbsp;
                                {% endif %}

                                {% if instance.status > 400 or instance.status in [200] %}
                                    <a id="instance-op"
                                       href='{{ url_for('api.restart_instance', app_id=instance.app_id,instance_id=instance.instance_id) }}'
                                       onclick='{if(confirm("Are you sure to restart this instance?")){return true;}return false;}'>
                                        <span class="glyphicon glyphicon-refresh"></span>
                                    </a>
                                {% endif %}

                                {% if current_user.role == 1 and instance.status in [500, 506] %}
                                    &nbsp;&nbsp;
                                    <a id="instance-op"
                                       href='{{ url_for('api.remove_instance', app_id=instance.app_id,instance_id=instance.instance_id) }}'
                                       onclick='{if(confirm("Are you sure to remove this instance?")){return true;}return false;}'>
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                {% endif %}
                            </td>
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>


{% endblock %}

{% block scripts %}
    {{ super() }}

    <script type="text/javascript">
        function setDataSource() {
            $("#value").attr("data-provide", "typeahead");
            $("#value").attr("data-source", '{{ app_ids|safe}}');
            $("#value").attr("data-items", "10");
            $("#value").attr("placeholder", "Enter App ID and Version")
        }

        function clearDataSource() {
            $("#value").attr("data-provide", "");
            $("#value").attr("data-source", '');
            $("#value").attr("placeholder", "Enter Machine IP")
        }

        function hideAllInstances() {
            $("[name=instance-entity]").hide();
        }

        function showAllInstance() {
            $("[name=instance-entity]").show();
        }

        function showInstances(status) {
            $("[status=" + status + "]").show();
        }

        function hideInstances(status) {
            $("[status=" + status + "]").hide();
        }

        function dealwithStatus(status) {
            if (status == "-1") {
                showAllInstance();
            } else {
                hideAllInstances();
                showInstances(status);
            }
        }

        $(document).ready(function () {
            $("#value").attr("autocomplete", "off");
            setDataSource();
            dealwithStatus($('#status').val());
        });

        $('#type').change(function () {
            var type = $(this).children('option:selected').val();

            if (type == 0) {
                clearDataSource();
            } else {
                setDataSource();
            }
        });


        $('#status').click(function () {
            var status = $(this).val();
            dealwithStatus(status);

        });

        $('[id=status-link]').click(function () {
            var status = $(this).attr('status');
            dealwithStatus(status);
            $('#status').val(status);
        });

        $("#value").focus(function () {
            $(this).bind("keyup", function () {
                var value = $(this).val().trim().toLowerCase();
                $("[name=instance-entity]").each(
                        function () {
                            var app_id = $(this).attr("app_id").toLowerCase().trim();
                            if (value.length == 0 || app_id.indexOf(value) >= 0) {
                                $(this).show();
                            } else {
                                $(this).hide();
                            }
                        });
            })
        });

        $("[id=instance-op]").click(function () {
            var type = $("#type").val();
            var value = "{{ form.value.data }}";
            var status = $("#status").val();
            var url = $(this).attr("href") + "&type=" + type + "&value=" + value + "&status=" + status;
            $(this).attr("href", url);
        });

    </script>
{% endblock %}
